* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Press Start 2P', cursive;
}

p{
  font-family: 'Press Start 2P', cursive;
}


:root {

  --color-black-secont: rgb(121, 113, 92);
  --color-primary: ;
  --color-white: #E7F6F2;
  --color-black: rgba(57, 49, 24);
  --color-red: rgba(248, 80, 8);
  --color-orange: rgba(248, 168, 0);
  --color-blue: rgba(0, 0, 136);
 

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}