* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

.homebc{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/129a0238717551.576c1f0538ce9.png');
    background-repeat:repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40rem;
    padding-bottom: 30rem;
}

.button-back{
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
  background-color: transparent;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  padding: 10px 20px;
  cursor: pointer;
}
.button-back:hover {
    background-color: var(--color-orange);
    color: var(--color-blue);
  }
  
  .button-back:first-of-type {
    margin-left: 15px;
  }
  
  .button-back:last-of-type {
    margin-right: 15px;
  }

.top-bar{
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.top-bar2{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.containerFilters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 15px;
}

.containerPagination {
  display: flex;
  justify-content: center;
 
  padding-left: 20px;
}

.filter-contein{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}