.container-paginado {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
  }
  


.button-pag{
  font-family: 'Press Start 2P', cursive;
  font-size:x-small;
  background-color: transparent;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  padding: 5px 10px;
  cursor: pointer;
 
}
.button-pag:hover {
    background-color: var(--color-orange);
    color: var(--color-blue);
  }