.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    
  }
  
  .articles {
    /* Estilos adicionales para cada tarjeta (ajusta según tus necesidades) */
    width: 300px;
  }